.thread-title {
  padding-right: 100px;
  font-weight: 500;
  display: block;
  margin: 0;
  font-size: 18px;
}

.thread-time {
  font-weight: 150;
  font-size: 12px;
}

.thread-user {
  font-weight: 350;
  font-size: 14px;
}

.thread-box {
  flex-direction: column;
  align-content: space-around;
  flex-grow: 0;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}
