.module-title,
.module-description,
.module-credit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  margin: 0px;
}

.module-title {
  font-size: 24px;
}

.module-description {
  font-size: 16px;
  text-align: left;
  padding-top: 0;
  padding-bottom: 3rem;
}

.module-credit {
  font-size: 16px;
  padding-top: 0;
  color: grey;
}

.add-module-button {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.error-box {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.revThread {
  align-items: center;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-right: 3px;
  font-size: 18px;
  /* border: 1px solid green; */
  margin: 5px;
  padding: 0 5px;
  background-color: rgb(241, 243, 255);
}

.revContainer {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
